<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>


<h3>Curso Python 2021</h3>

<h5>
    Profesor: Nicolas Perez
    Alumnos: Juan Poropat / Juan Marmo
</h5>



    <p> 
        Web creada a partir de Python y Django. 
        Dicha web esta pensada para vender y comprar vehiculos de todo tipo, autos, motos y camiones.
        En la misma se pueden editar, modificar y agregar datos. 
        <br>
        <br>

        Sinceramente fue un 50% y 50% con la pantalla compartida via TeamViewer en la cual ibamos pensando todo y lo realizabamos en el momento, uno escribia codigo y el otro le dictaba y viceversa.
        Juan Poropat se enfocó más en la parte del codigo y Juan Marmo más en la parte del HTML (el maquetado de la página)

        Estamos dando nuestros primeros pasos en el mundo IT y queriamos comenzar con un lenguaje facil de aprender y de tipear por ende arrancamos con Python para luego seguir con el curso de Desarollo Web.
        Así mejorando nuestros conocimientos en los diferentes lenguajes de programación.

        <br>
        <br>

        - En el GitHub de Juan Poropat no lo pudimos pushear no sabemos porque y el tutor tampoco, por ende creamos un repositorio en el GitHub de Juan Marmo y lo compartimos al de Juan Poropat.

        <br>
        Atte: JUANESVEHICULOS
    </p>
    
</body>
</html>