{% extends "AppCoder/padre.html" %}


{% load static %}
    
        {% block contenido7 %}
        <br>
            <h1>Edicion de camion</h1>
        {% endblock %}

        {% block contenido8 %}
            
            {% if miCamion.errors %}

            <p>Error</p>

            {% endif %}
            <br>
            <form action="/AppCoder/editarCamion/" method="POST" >  {% csrf_token %}            
                
                <table>

                    {{ miCamion.as_table }}

                </table>

                <br>
                <input type="submit" value="Enviar Datos">
            
            </form>

        
        {% endblock %}

