{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenido %}

<br>
<br>
<h1>Bienvenidos a Cotizacion Online</h1>
<p>El mejor precio a solo un click</p>

<h3>{{ mensaje }}</h3>

<!-- Footer
<footer class="footer text-center">
    <div class="container px-4 px-lg-5">
        <ul class="list-inline mb-5">
            <li class="list-inline-item">
                <a class="social-link rounded-circle text-white mr-3" href="https://github.com/JuanseMarmo/proyectofinal"><i class="icon-social-facebook"></i></a>  
            </li>
            
</footer> -->

{% endblock %}